.App {
  margin: 30px;
}

.navBar {
  margin-bottom: 10px;
}

.logo {
  width: 25px;
  margin-right: 5px;
}

input {
  width: 100%;
  border: 1px solid #D8D8D8;
  border-radius: 3px;
}


.taskForm {
  margin-bottom: 10px;
}

.brand {
  color: black;
}

.regLogForm {
  margin-top: 6px;
}
